.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5em;
}

.App {
  margin-left: 2em;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.selected {
  background-color: green;
}
